.main_container {
  max-width: 930px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

.title {
  background-color: rgb(236,237,240);
  border-radius: 10px;
  padding: 0px 10%;
  font-size: calc((100vw - 320px)/(1920 - 320) * (33 - 24) + 24px);
  text-align: center;
  margin-bottom: 12px;
}

.title_and_button_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button {
  border: 0;
  height: 70px;
  background-color: rgb(226, 222, 255);
  color: rgb(129, 59, 235);
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  padding: 6px 12px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity .3s;
}

.button:hover {
  opacity: .75;
}

.toolbar {
  display: none;
  justify-content: space-between;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgb(236,237,240);
  padding: 16px;
  border-radius: 10px;
}

.toolbar__item {
  flex: 0 0 31%;
  cursor: pointer;
}

.toolbar__item:hover .toolbar__title {
  opacity: .7;
}


.toolbar__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc((100vw - 320px)/(1920 - 120) * (24 - 17) + 17px);
  text-align: center;
  border-radius: 10px;
  padding: 6px 12px;
  padding-right: calc((100vw - 320px)/(1920 - 120) * (12 - 6) + 6px);
  padding-left:calc((100vw - 320px)/(1920 - 120) * (12 - 6) + 6px);
  word-wrap: break-word;
  word-break: break-all; /* более приоритетно */
  box-sizing: border-box;
  height: 60px;
  text-align: center;
  background-color: rgb(236,237,240);
  color: rgb(85, 91, 101);
  margin: 0;
}

.toolbar__title_active {
  background-color: rgb(43,111,214);
  color: rgb(251, 252, 254);
}


.columns_container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.column {
  /* outline: 1px solid black; */
  border-radius: 20px;
  padding: 12px 20px;
  padding-bottom: 0px;
  width: calc((100vw - 320px)/(1920 - 120) * (300 - 160) + 160px);

  box-sizing: border-box;
  box-shadow: 0px 0px 24px -8px rgba(34, 60, 80, 0.29);
}

.column__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc((100vw - 320px)/(1920 - 120) * (24 - 20) + 20px);
  text-align: center;
  border-radius: 10px;
  padding: 6px 12px;
  margin: 0;
  /* margin-right: calc((100vw - 320px)/(1920 - 120) * (12 - 6) + 6px); */
  margin-left: calc((100vw - 320px)/(1920 - 120) * (12 - 6) + 6px);
  word-wrap: break-word;
  word-break: break-all; /* более приоритетно */
  box-sizing: border-box;
  height: 38px;
  text-align: center;
}

.column:first-child .column__title {
  background-color: rgb(236,237,240);
  color: rgb(110,122,143);
  font-size: 16px;
}

.column:nth-of-type(2) .column__title {
  background-color: rgb(222,235,255);
  color: rgb(43,111,214);
}


.column:last-child .column__title {
  background-color: rgb(227,252,239);
  color: rgb(67,146,119);
}


.tasks_container {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: column; 
  gap: 12px;
  padding: 10px;
  padding-top: 0;
  border-radius: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.tasks_container_mobile {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 24px;
  background-color: rgb(236,237,240);
  padding: 16px;
  border-radius: 10px;
}

.task__item {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  padding: 0 8px 0 12px;
  transition: background-color .15s ease-out;
}

.task__item_mobile {
  background-color: rgb(255, 255, 255);
  min-height: 88px;
  box-sizing: border-box;
}

.task__item:hover {
  background-color: bisque;
}

.link {
  text-decoration: none;
  color: black;
}


.task__title {
  font-size: calc((100vw - 320px)/(1920 - 120) * (18 - 16) + 16px);
}

.task__description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  font-size: calc((100vw - 320px)/(1920 - 120) * (16 - 14) + 14px);

}

.not_admin_container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not_admin_title {
  font-size: 34px;
}

.link_button {
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  padding: 6px 12px;
  background-color: rgb(236,237,240);
  color: rgb(110,122,143);
  transition: opacity .3s;
}

.link_button:hover {
  opacity: .75;
}

@media (max-width: 768px) {
  .title_and_button_container {
    display: flex;
    flex-direction: column;
  }

  .title_mobile {
    margin-bottom: 12px;
  }

  .toolbar {
    display: flex;
  }

  .tasks_container_mobile {
    display: grid;
  }

  .columns_container {
    display: none;
  }


}