.main_container {
  max-width: 930px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.title {
  font-size: 36px;
  background-color: rgb(236,237,240);
  border-radius: 10px;
  padding: 4px 80px;
  border: 0;
  text-align: center;
}

.title_and_button_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button {
  border: 0;
  height: 70px;
  background-color: rgb(255, 233, 222);
  color: rgb(235, 88, 59);
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  padding: 6px 12px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity .3s;
}

.button:hover {
  opacity: .75;
}

.columns_container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.column {
  /* outline: 1px solid black; */
  border-radius: 20px;
  padding: 12px 20px;
  max-width: 308px;
  box-sizing: border-box;
  box-shadow: 0px 0px 24px -8px rgba(34, 60, 80, 0.29);
}

.column__title {
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  padding: 6px 12px;
}

.column:first-child .column__title {
  background-color: rgb(236,237,240);
  color: rgb(110,122,143);
}

.column:nth-of-type(2) .column__title {
  background-color: rgb(222,235,255);
  color: rgb(43,111,214);
}


.column:last-child .column__title {
  background-color: rgb(227,252,239);
  color: rgb(67,146,119);
}


.tasks_container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column; 
  gap: 12px;
}

.task__item {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  padding: 0 8px 0 12px;
  transition: background-color .15s ease-out;
}

.task__item:hover {
  background-color: bisque;
}

.link {
  text-decoration: none;
  color: black;
}

.task__title {
  font-size: 18px;
}

.task__description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.not_admin_container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not_admin_title {
  font-size: 34px;
}

.link_button {
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  padding: 6px 12px;
  background-color: rgb(236,237,240);
  color: rgb(110,122,143);
  transition: opacity .3s;
}

.link_button:hover {
  opacity: .75;
}