body {
  padding: 0 5vw !important;
  height: 100vh;
  width: 100vw;
  background-color: #E1E8ED;
  /* background-image: url('./../assets/images/design/Home.png'); */
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Ubuntu';
  transition: all 1s;
}

.background-transparent {
  background-color: transparent;
}

.cols-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cols-container > div:nth-child(1) {
  background-color: #59B4D1;
}
.cols-container > div:nth-child(2) {
  background-color: #D0935A;
}
.cols-container > div:nth-child(3) {
  background-color: #59D090;
}

.app-title {
  margin-bottom: 20px;
}

.title-column {
  padding: 20px;
  border-radius: 30px;
}

.title-column *{
  background-color: transparent;
}

.tasks-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 30%;
}

.task-container {
  background-color: #d4e8e7 !important;
}

.task-title {
  max-width: 100%;
  word-wrap: break-word;
  height: auto;
}

.chat-container {
  border: 2px solid #7c6f31;
  background-color: #f5e59b;
}
.chat_messages {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 !important;
  list-style-type: none;
}

.chat_message {
  margin: 0 5px;
  padding: 20px 10px;
  border: 1px solid #dbbe38;
  background-color: #b1fdef;
  border-radius: 16px;
  word-wrap: break-word;
}

.chat_input {
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
