.main_container {
  background-color: rgb(255, 255, 255);
  padding-right: calc((100vw - 320px)/(1920 - 120) * (46 - 12) + 12px);
  padding-left: calc((100vw - 320px)/(1920 - 120) * (46 - 12) + 12px);
  padding-top: calc((100vw - 320px)/(1920 - 120) * (20 - 8) + 8px);
  padding-bottom: calc((100vw - 320px)/(1920 - 120) * (20 - 8) + 8px);
  border-radius: 10px;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.title {
  margin: 0;
  margin-bottom: calc((100vw - 320px)/(1920 - 120) * (22 - 16) + 16px);
  font-size: 20px;
  margin-right: 22px;
  color: rgb(38, 38, 38);
}

.status_container {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.status__container_ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: calc((100vw - 320px)/(1920 - 120) * (12 - 7) + 7px);
}

.status_label, .description_label, .status_label, .assignee_title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  /* color: rgb(163, 162, 162); */
  
}

.status {
  margin: 0;
  border-radius: 3px;
  padding: 2px 8px;
  padding-right: calc((100vw - 320px)/(1920 - 120) * (8 - 4) + 4px);
  padding-left: calc((100vw - 320px)/(1920 - 120) * (8 - 4) + 4px);
  font-size: calc((100vw - 320px)/(1920 - 120) * (16 - 12) + 12px);
  cursor: pointer;
  text-wrap: nowrap;
  transition: box-shadow .3s ease-in;
  
}

.status:hover {
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
}

.status_planned {
  background-color: rgb(236,237,240);
  color: rgb(110,122,143);
}

.status_process {
  background-color: rgb(222,235,255);
  color: rgb(43,111,214);
}

.status_done {
  background-color: rgb(227,252,239);
  color: rgb(67,146,119);
}

.status__active {
  outline: 1px solid rgb(42, 42, 42);
}

.assignee_container {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
} 

.assignee_title {
  margin: 0;
}

.task__assignee_container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  max-width: 500px;
}

.task__assignee_item {
  background-color: rgb(232, 232, 232);
  border-radius: 3px;
  color: rgb(94, 94, 94);
  padding: 2px 6px;
  white-space: nowrap;

}

.description {
  margin: 0;
  margin-top: 6px;
}

.description_container, .assignee_container, .main_container, .status_container {
  margin-bottom: 16px;
}

.status_container {
  /* margin-bottom: 0; */
}


.message {

}

.message__title {
  margin-top: 6px;
  margin-bottom: calc((100vw - 320px)/(1920 - 120) * (16 - 12) + 12px);
}

.message__container {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow-y: auto;
  max-height: 140px;
  box-sizing: border-box;
}

.message__item {
  background-color: rgb(238, 238, 238);
  padding: 8px 11px;
  border-radius: 4px;
}

.message_autor_date_wrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 12px;
}

.message__author {
  margin: 0;
  font-size: calc((100vw - 320px)/(1920 - 120) * (16 - 14) + 14px);
}

.message__date {
  flex: 1;
  text-align: end;
  margin: 0;
  color: rgb(116, 116, 116);
  font-size: calc((100vw - 320px)/(1920 - 120) * (16 - 12) + 12px);
}

.message_text {
  margin-bottom: 6px;
  margin-top: 8px;
  font-size: calc((100vw - 320px)/(1920 - 120) * (16 - 14) + 14px);
}

.form {
  margin-top: calc((100vw - 320px)/(1920 - 120) * (18 - 12) + 12px);
  display: flex;
  gap: 12px;
}

.textarea {
  border: 0;
  max-width: 800px;
  width: 100%;
  min-width: 100px;
  outline: 1px solid black;
  padding: 0 12px;
  padding-top: 6px;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 16px;
  resize: none; /* Запрещаем изменять размер */

}

.textarea::placeholder {
  font-family: Roboto;
  font-size: 16px;
}

.button_submit {
  border: 0;
  cursor: pointer;
  margin: 0;
  border-radius: 3px;
  background-color: rgb(227,252,239);
  color: rgb(67,146,119);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  padding: 6px 12px;
  transition: opacity .3s ease;
  font-family: Roboto;

}

.button_submit_statue_and_assignee {
  padding: 6px 4px;
  max-width: 160px;
  background-color: rgb(216, 53, 48);
  border-radius: 2px;
  color: white;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; 
  letter-spacing: -0.4px;
  /* max-height: 52px; */
  transition: color .2s ease-in, background-color .3s;
  cursor: pointer;
}

.button_submit_statue_and_assignee:hover {
  background-color: black;

}

.button_submit:hover {
  opacity: .7;
}