.modal {

  position: fixed;
  top: 50%;
  right: 50%;
  /* width: 720px; */
  /* background-color: #1c1c21; */
  transform: translateX(50%) translateY(-50%);
  border-radius: 40px;
  z-index: 5;
  display: flex;
  flex-direction: column;
}

.modal_state_closed {
  display: none;
}
/* calc((100vw - 320px)/(1920 - 120) * (38 - 2) + 2px) */
.svvg {
  transform: translate(-14px, 46px);
  align-self: flex-end;
  cursor: pointer;
  width: calc((100vw - 320px)/(1920 - 120) * (28 - 28) + 28px);
  color: black;
}

.svvg:hover {
  opacity: .5;
}
/* .svvg {
  position: absolute;
  top: 60px;
  right: 40px;
  z-index: 1;
} */